$primary: #63695b;
$secondary: #9da39f;
$dark: #2e262b;
$light: #f2f5f1;
$success: #08a830;
$info: #555;
$warning: #f3b13d;
$danger: #c21c35;
$navigate-dark-disabled-color: rgba(255, 255, 255, 0.75);
